body{
    margin: auto;
    font-family: system-ui;
}
.principal{
    width: 100vw;
    height: 56.25vw;
    display: grid;
    grid-template-columns: 20vw 80vw;
    transition: 0.5s;
    overflow: hidden;
}
.admin{
    grid-row-start: 1;
    grid-row-end: 3;
}
.admin div{
    margin: 0 0.8vw;
    height:  2vw;
    display: flex;
    border-radius: 0.5vw;
    overflow: hidden;
    padding: 1vw 0;
    align-items: center;
    font-size: 1.5vw;
}
#barra_superior{
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#barra_superior img{
    background-color: black;
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 1vw;
    border-radius: 50%;
}
#lineas{
    margin-left: 1vw;
    width: 2vw;
    height: 2vw;
}
#cara{
    width: 3.7vw;
    height: 100%;
}
#tcara{
    width: 11vw;
    height: 2vw;
    font-size: 2vw;
    color: #1768ee;
}
.menu{
    margin-left: 1vw;
    width: 2vw;
    height: 2vw;
    cursor: pointer;
}
.menuc{
    display: none;
}
.menuc:checked + .principal{
    grid-template-columns: 5vw 95vw;
}
.menuc:checked + .principal .admin #main{
    margin-left: -2vw;
    opacity: 0;
}
#desbo{
    background-color: #1652f1;
    color: white;
    font-size: 1.5vw;
    margin-top: 3vw;
}
#imgdesbo{
    margin-left: -1.2vw;
    width: 6vw;
    height: 3vw;
}
#main{
    margin-top: 2vw;
    padding: 0;
    width: 10vw;
    height: 2vw;
    font-size: 1vw;
    color: rgb(128, 128, 128);
    transition-duration: 0.5s;
}
.cuadrogris{
    background-color: rgb(243, 240, 240);
    grid-row-start: 2;
    height: 52.25vw;
}
.elements{
    margin: 0 0.8vw;
    height: 0.4vw;
    display: grid;
    border-radius: 0.5vw;
    padding: 1.6vw 0;
    font-size: 1.5vw;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}
#elementch:checked + .elements{
    background-color: #1652f1;
    color: white;
    margin-bottom: 14vw;
}
#elementch:checked + .elements #alert{
    display: inherit;
    margin-top: 1vw;
}
#elementch{
    display: none;
}
#element{
    position: relative;
    top: -1.8vw;
    grid-column-start: 2;
}
#mayor{
    position: relative;
    top: -1.8vw;
    left: 2vw;
    font-size: 1vw;
    grid-column: 3/4;
}
#imgelement{
    position: relative;
    top: -0.8vw;
    left: 0.7vw;
    width: 2vw;
}
#alert{
    position: relative;
    top: -1vw;
    color: black;
    padding: 0;
    grid-column: 2/4;
    display: none;
}
#alert:hover{
    color: #0400ff;
    cursor: pointer;
}
.menuc:checked + .principal #alert{
    opacity: 0%;
}
#char{
    display: none;
}
#char:checked + .char div{
    background-color: rgb(231, 231, 231);
}
.char{
    cursor: pointer;
}
.char div{
    margin-top: 0.5vw;
}
.char img{
    background-color: black;
    margin-left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}
.char p{
    margin-left: 2.5vw;
}
#wid{
    display: none;
}
#wid:checked + .char div{
    background-color: rgb(231, 231, 231);
}
#tables{
    display: none;
}
#tables:checked + .char div{
    background-color: rgb(231, 231, 231);
}
#flecha{
    margin-left: 7vw;
}
.char #list{
    display: none;
}
#for:checked + .char div{
    background-color: #1652f1;
    color: white;
}
#for{
    display: none;
}
#for:checked + .char #list{
    font-size: 1.5vw;
    display: block;
    margin-left: 5.7vw;
}
.char #list:hover{
    color: #0400ff;
}
#menuc:checked + .principal #list{
    display: none;
}
#dash{
    margin: 1vw 1vw;
    font-size: 2.5vw;
}
#ho{
    margin: 1vw 1vw;
    font-size: 1.4vw;
    display: flex;
    color: gray;
}
#ho div{
    margin-right: 0.7vw;
    color: #1652f1;
}
.grid{
    margin: 4% 2%;
    display: grid;
    gap: 1.5vw;
}
.griddiv{
    background-color: white;
    border-radius: 1vw;
    height: 10vw;
    padding: 1vw;
}
#flechas{
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    font-size: 2vw;
}
#flechas img{
    width: 2vw;
    height: 1.5vw;
}
#descrip{
    font-size: 1.2vw;
    padding: 0;
}
#barra{
    margin-top: 2vw;
    background-color: rgb(223, 223, 223);
    width: 100%;
    height: 1vw;
    border-radius: 1vw;
}
#relleno1{
    border-radius: inherit;
    background-color: #0400ff;
    width: 40%;
    height: 100%;
}
#relleno2{
    border-radius: inherit;
    background-color: #0400ff;
    width: 60%;
    height: 100%;
}
#relleno3{
    border-radius: inherit;
    background-color: #0400ff;
    width: 30%;
    height: 100%;
}
#relleno4{
    border-radius: inherit;
    background-color: #0400ff;
    width: 80%;
    height: 100%;
}
#porcentaje{
    margin-top: 0.5vw;
    font-size: 1vw;
}
#large{
    grid-column: 1/5;
    height: 8vw;
    background-color: white;
    border-radius: 1vw;
    padding: 1vw;
}
#sales{
    font-size: 1.6vw;
}
#hola{
    margin-top: 2.7vw;
    font-size: 2vw;
}