#principal{
    width: 20vw;
    height: 30vw;
}
#pricipal img{
    width: 100%;
    height: 100%;
    display: none;
    animation-name: frame1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#frame1{
    animation-name: frame1;
}
#frame1{
    animation-name: frame1;
}
#frame1{
    animation-name: frame1;
}
#frame1{
    animation-name: frame1;
}
#frame1{
    animation-name: frame1;
}
#frame1{
    animation-name: frame1;
}
#frame1{
    animation-name: frame1;
}
#frame1{
    animation-name: frame1;
}
#frame1{
    animation-name: frame1;
}
#frame1{
    animation-name: frame1;
}