.principal{
    margin: 4vw auto;
    width: 30vw;
    height: 30vw;
    border-radius: 4vw;
    box-shadow: 0 2vw 3vw ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circulo{
    width: 25vw;
    height: 25vw;
    background-color: rgb(0, 162, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flecha{
    width: 22vw;
    height: 22vw;
    transition: all;
    transition-duration: 3s;
}
.flecha:hover{
    transform: rotateZ(360deg);
}
#rojo{
    margin: auto;
    width: 0;
    height: 0;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    border-bottom: 11vw solid red;
}
#blanco{
    margin: auto;
    width: 0;
    height: 0;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    border-bottom: 11vw solid white;
}