.borde{
    margin: 4vw auto;
    width: 30vw;
    height: 31.3vw;
    background-color: rgb(214, 214, 214);
    border-radius: 4vw;
    box-shadow: 0 2vw 3vw -1.2vw;
}
.principal{
    background-color: white;
    width: 30vw;
    height: 30vw;
    border-radius: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circulo{
    width: 25vw;
    height: 25vw;
    background: linear-gradient(rgb(0, 195, 255), rgb(84, 113, 243));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flecha{
    width: 22vw;
    height: 22vw;
    transition: all;
    transition-duration: 3s;
}
.flecha:hover{
    transform: rotateZ(360deg);
}
#rojo{
    margin: auto;
    width: 0;
    height: 0;
    border-left: 1.2vw solid transparent;
    border-right: 1.2vw solid transparent;
    border-bottom: 11vw solid red;
}
#blanco{
    margin: auto;
    width: 0;
    height: 0;
    border-left: 1.2vw solid transparent;
    border-right: 1.2vw solid transparent;
    border-bottom: 11vw solid white;
}