@font-face{
    font-family: "amazon";
    src: url("Amazon_Typefaces_Complete_Font_Set_Mar2020/Ember/AmazonEmber_Bd.ttf");
}
body{
    background-color: black;
    margin: 0 auto;
}
#cuadro{
    width: 100vw;
    height: 100vh;
    max-width: 1920px;
    max-height: 4149px;
}
#imgprin{
    width: 100vw;
    height: 100vw;
    background-image: url("images/FondoTwitch@2x.png");
    background-size: 100vw;
    background-repeat: no-repeat;
}
#cuadro1{
    margin-top: 1.4%;
    margin-left: 3.34%;
    width: 93%;
    height: 29.64%;
    border-radius: 108px;
    background-image: url("images/Group\ 2@2x.png");
    background-size: cover;
}
#cuadro2{
    margin-top: 2.29%;
    margin-left: 3.33%;
    width: 93%;
    height: 37.71%;
    border-radius: 108px;
    background-color: #00A8E1;
}
#cuadro3{
    margin-top: 1.35%;
    margin-left: 3.33%;
    width: 93%;
    height: 29.53%;
    border-radius: 108px;
    border: #00A8E1 2px solid;
    background-color: #00A8E1;
}
#lupalogin{
    margin-left: 3.28%;
    width: 95.63%;
    height: 4.38%;
    display: flex;
    justify-content: space-between;
}
#lupa{
    margin-top: 1.95%;
    width: 1.88%;
    height: 1.88%;
}
#logoprime{
    margin-top: 8%;
    margin-left: 35.52%;
    width: 28.96%;
    height: 16.30%;
    background-image: url("images/LogoPrimeE2@2x.png");
    background-size: cover;
}
#texto1{
    margin-left: 20.26%;
    width: 60.05%;
    height: 3.13%;
    font-family: "amazon";
    font-size: 60px;
    color: white;
}
@font-face{
    font-family: "parrafo";
    src: url("Amazon_Typefaces_Complete_Font_Set_Mar2020/Ember/AmazonEmber_Lt.ttf");
}
#parrafo{
    margin-top: 31px;
    margin-left: 380px;
    width: 1160px;
    height: 102px;
    font-family: "parrafo";
    font-size: 30px;
    color: white;
    text-align: center;
}
#sing{
    margin-top: 50px;
    margin-left: 730px;
    width: 458px;
    height: 104px;
    border-radius: 52px;
    background-color: white;
    font-size: 40px;
    font-family: "parrafo";
    text-align: center;
    line-height: 104px;
}
#login{
    width: 10.68%;
    height: 2.81%;
    background-color: white;
    font-size: 1.04%;
    font-family: "parrafo";
    text-align: center;
    line-height: 2.81%;
    border-radius: 52px;
}
#texC2{
    position: relative;
    top: 56px;
    left: 71px;
    width: 1664px;
    height: 60px;
    font-size: 60px;
    font-family: "amazon";
    color: white;
}
#img1{
    position: relative;
    top: 140px;
    left: 413px;
    width: 181px;
    height: 309px;
    background-image: url("images/img1.png");
    background-size: cover;
}
#img2{
    position: relative;
    top: -169px;
    left: 606px;
    width: 181px;
    height: 309px;
    background-image: url("images/img2.png");
    background-size: cover;
}
#img3{
    position: relative;
    top: -478px;
    left: 799px;
    width: 181px;
    height: 309px;
    background-image: url("images/img3.png");
    background-size: cover;
}
#img4{
    position: relative;
    top: -787px;
    left: 992px;
    width: 181px;
    height: 309px;
    background-image: url("images/img4.png");
    background-size: cover;
}
#img5{
    position: relative;
    top: -1096px;
    left: 1185px;
    width: 181px;
    height: 309px;
    background-image: url("images/img5.png");
    background-size: cover;
}
#textoC2{
    margin-top: -1040px;
    margin-left: 143px;
    width: 1492px;
    height: 110px;
    text-align: center;
    font-family: "parrafo";
    font-size: 49px;
    color: white;
}
#texC3{
    margin-top: 79px;
    margin-left: 496px;
    width: 800px;
    height: 60px;
    font-family: "amazon";
    font-size: 60px;
    color: white;
}
#imgC3{
    margin-top: 44px;
    margin-left: 811.68px;
    width: 168.64px;
    height: 168.64px;
    background-image: url("images/Icon\ metro-cancel@2x.png");
    background-size: cover;
}
#textoC3{
    margin-top: 62.36px;
    margin-left: 205px;
    width: 1382px;
    height: 88px;
    color: white;
    font-size: 40px;
    font-family: "parrafo";
    text-align: center;
}
#compatible{
    margin-top: 93px;
    margin-left: 416.33px;
    width: 1118px;
    height: 125px;
    font-size: 125px;
    font-family: "parrafo";
    color: white;
}
#tex1{
    margin-top: 44px;
    margin-left: 179.33px;
    width: 1544px;
    height: 99px;
    font-size: 45px;
    font-family: "parrafo";
    color: white;
    text-align: center;
}
#flecha1{
    position: relative;
    top: 294px;
    left: 303.27px;
    width: 18.9px;
    height: 26.61px;
    background-image: url("images/Flecha@2x.png");
    background-size: cover;
}
#iphone{
    position: relative;
    top: 185px;
    left: 384.33px;
    width: 256px;
    height: 219px;
    background-image: url("images/iphone.png");
    background-size: cover;
}
#mac{
    position: relative;
    top: -190px;
    left: 683.33px;
    width: 584px;
    height: 534px;
    background-image: url("images/mac.png");
    background-size: cover;
}
#pc{
    position: relative;
    top: -580px;
    left: 1259.33px;
    width: 271px;
    height: 238px;
    background-image: url("images/pc.png");
    background-size: cover;
}
#flecha2{
    position: relative;
    top: -710px;
    left: 1573.28px;
    width: 18.9px;
    height: 26.61px;
    background-image: url("images/Flecha@2x.png");
    background-size: cover;
    transform: rotate(180deg);
}
#case{
    position: relative;
    top: -480px;
    left: 824.33px;
    width: 430px;
    height: 241px; 
    background-image: url("images/Logo\ CACE\ Invertido\ UP@2x.png");
    background-size: cover;
}
@font-face{
    font-family: "powered";
    src: url("Myriad\ Pro\ Italic/Myriad Pro Italic.ttf");
}
#powered{
    position: relative;
    top: 25px;
    left: 17px;
    width: 92px;
    height: 20px;
    color: white;
    font-size: 20px;
    font-family: "powered";
}
#privacy{
    position: relative;
    top: -600px;
    left: 541.33px;
    width: 831px;
    height: 25px;
    font-size: 25px;
    font-family: "parrafo";
    color: white;
}
#terms{
    margin-top: -32px;
    margin-left: 207px;
    width: 146px;
    height: 25px;
}
#sales{
    margin-top: -25px;
    margin-left: 374px;
    width: 212px;
    height: 25px;
}
#legal{
    margin-top: -25px;
    margin-left: 626px;
    width: 98px;
    height: 25px;
}
#site{
    margin-top: -25px;
    margin-left: 733px;
    width: 98px;
    height: 25px;
}