body{
    margin: auto;
}
#fondo{
    background: url(images/sky.jpg);
    width: 100vw;
    height: 100vw;
    background-size: cover;
    border: solid transparent;
}
#nube1{
    margin-left: -10vw;
    margin-top: 10vw;
    width: 10vw;
    height: 6vw;
    animation-name: nube1;
    animation-duration: 12s;
    display: block;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#nube2{
    margin-left: -10vw;
    margin-top: 2vw;
    width: 10vw;
    height: 6vw;
    animation-name: nube2;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes nube1{
    100%{
        margin-left: 110vw;
    }
}
@keyframes nube2{
    100%{
        
        margin-left: 110vw;
    }
}
.menu{
    width: 2.5vw;
    height: 2.5vw;
    overflow: hidden;
    transition-duration: 0.5s;
}
.menu div{
    width: 9vw;
    padding: 0.5vw;
    border: #b9b9b9 solid 0.1vw;
    font-family: 'Alfa Slab One', cursive;
    margin-top: 1vw;
    margin-left: 2.5vw;
}
.menu div:hover{
    background-color: rgb(197, 197, 197);
}
#menu{
    display: none;
}
#e{
    text-decoration: none;
    color: black;
}
#menu:checked + .menu{
    width: 15vw;
    height: 24vw;
}